.login-top{
    margin-top: 40px;
}

@media screen and (max-width:850px) {
    .sign-form{
        width: 80%!important;
    }
    .btn-sign{
        width: 200px!important;
    }
    .login-top{
        width: 100%;
    }
}