.order-top-title {
  font-size: 20px;
  line-height: 22px;
  font-weight: 700;
}
td{
  font-size: 13px;
}
.admin-btn{
  font-size: 13px;
}
.table{
  overflow-x: scroll;
}
.order-panel{
  width:900px!important;
  overflow-x: scroll;
}
th{
  font-size: 13px;
}
@media screen and (max-width:1300px) {
  .order-panel{
    width: 100%!important;
  }
}