.cabinet-card{
  padding: 10px 10px;
}

.cabinet-title {
  margin-bottom: 40px;
  font-size: 20px;
  line-height: 22px;
  font-weight: 500;
}
.avatar-text{
  margin-bottom: 10px;
  font-size: 13px;
  font-weight: 500;
}
.card-name-span {
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
}
.card-name-title {
  margin: 10px 0px;
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
}
.avatar{
  appearance: none;
  width: 30px;
  height: 30px;
  top: 43%;
  left:12%;
  z-index: 5;
  border-radius: 50%;
  opacity: 0;
}
.avatar-icon-edit{
  top: 43%;
  left: 12%;
  z-index: 3;
  color: #f5a003;
  background: #faf6f6;
}
