.cabinet-card{
  padding: 10px 10px;
}

.cabinet-title {
  margin-bottom: 40px;
  font-size: 20px;
  line-height: 22px;
  font-weight: 500;
}
.avatar-text{
  margin-bottom: 10px;
  font-size: 13px;
  font-weight: 500;
}
.card-name-span {
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
}
.card-name-title {
  margin: 10px 0px;
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
}
