
.hero {
  max-width: 1440px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  .hero_left {
    width: 660px;
  }
}
.main__section {
  padding-top: 30px;
}
.site-waranty {
  background: #e4e4e4;
}

.search-mobile-bar{
  // display: none;
  width: 100%;
}
.search-mobile{
  width: 100%;
  border:1px solid #fac212;
}
@media screen and (max-width: 1230px) {
  .hero {
    .hero_left {
      width: 80%;
    }
  }
}

@media screen and (max-width: 910px) {
  .hero {
    margin: 0!important;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
  }
  .hero__right {
    display: none;
  }
  .hero_left {
    width: 100% !important;
  }
}

@media screen and (max-width: 900px) {
  .hero {
    flex-direction: column !important;
  }
}