.recomendation {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  .recomendation__title {
    margin: 0;
    padding: 0;
    font-size: 28px;
    font-weight: 700;
    line-height: 40px;
    color: #2d2e30;
    text-align: left;
  }
}
.card {
  padding: 20px;
  width: 275px !important;
  box-shadow: 0 0 0 1px #ededed;
  box-sizing: border-box;
  border: 1px solid transparent;
  img {
    width: 240px;
  }
}
.card-title {
  font-size: 14px;
  line-height: 20px;
  color: #5a5858;
}
.like-heart {
  top: 10px;
  right: 20px;
  width: 30px;
  height: 30px;
  cursor: pointer;
}
.recomendation__card {
  width: 1440px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  overflow-x: scroll;
}

::-webkit-scrollbar {
  height: 0px;
}

.recomendation {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  .recomendation__title {
    margin: 0;
    padding: 0;
    font-size: 28px;
    font-weight: 700;
    line-height: 40px;
    color: #2d2e30;
    text-align: left;
  }
}
.card {
  padding: 20px;
  width: 400px !important;
  box-shadow: 0 0 0 1px #ededed;
  box-sizing: border-box;
  border: 1px solid transparent;
  transition: all 0.3s ease-in-out;
}
.swipe-card {
  // position: fixed;
  width: 275px !important;
  height: 400px !important;
  z-index: 30;
  transition: all 0.3s ease-in-out;
  background: #fff;
}
.card-title {
  height: 45px;
  overflow: hidden;
}
.swipe-card:hover {
  transform: scale(1.05);
  box-shadow: 0px 10px 13px -7px #000;
}
.card-title {
  font-size: 14px;
  line-height: 20px;
  color: #5a5858;
}
.like-heart {
  top: 10px;
  right: 20px;
  width: 20px !important;
  height: 20px !important;
  cursor: pointer;
}
.recomendation__card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}
.card:hover {
  transform: scale(1.1);
}
::-webkit-scrollbar {
  height: 0px;
}

.imgcard {
  width: 134px !important;
  height: 134px !important;
  margin-bottom: 30px !important;
}
.nalichka {
  width: 60px;
  font-size: 13px;
  line-height: 16px;
}
.card__body--top {
  margin-bottom: 20px !important;
  display: flex;
  justify-content: space-between;
  align-items: flex-start !important;
}

.art-title {
  margin: 0 !important;
}
.shop-cart {
  width: 30px;
  height: 30px;
  cursor: pointer;
}

@media screen and (max-width: 640px) {
  .swipe-card {
    display: flex;
    flex-direction: row !important;
    align-items: flex-start !important;
    justify-content: space-between !important;
    width: 90% !important;
    height: 200px !important;
    padding: 20px !important ;

    img {
      width: 100px !important;
      height: 100px !important;
      margin-right: 20px;
    }
  }
}
@media screen and (max-width: 480px) {
  .swipe-card {
    display: flex;
    flex-direction: column !important;
    align-items: center !important;
    justify-content: space-between !important;
    width: 90% !important;
    height: 320px !important;
    padding: 20px !important ;
    img {
      width: 100px !important;
      height: 100px !important;
      margin-right: 20px;
    }
  }
  .card__body {
    width: 100% !important;
  }
  .nalichka {
    font-size: 12px !important;
    line-height: 20px;
  }
  .art-title {
    font-size: 12px !important;
    line-height: 16px !important;
  }
  .card-title {
    font-size: 14px !important;
  }
  .like-heart {
    width: 15px !important;
    height: 15px !important;
  }
  .shop-cart {
    width: 22px;
    height: 22px;
  }
  .card__footer--title {
    font-size: 13px;
  }
  // .imgcard {
  //   width: 80% !important;
  //   height: 90% !important;
  // }
}

@media screen and (max-width: 580px) {
  .recomendation__title {
    font-size: 18px !important;
  }
}
