@media screen and (max-width:1220px) {
    .hero__corusel-img{
        width: 100%!important;
    }
}

@media screen and (max-width:600px){
    .hero__corusel-img{
        width: 100%!important;
        height: 90%!important;
    }
}