.spin{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 333;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  // background: rgba(255, 255, 255, 0.644)!important;
  // .ldio-pgiplc4b9s{
    // width: 0%;
  // }
}
@keyframes ldio-pgiplc4b9s {
  0% {
    opacity: 1;
    backface-visibility: hidden;
    transform: translateZ(0) scale(1.87,1.87);
  } 100% {
    opacity: 0;
    backface-visibility: hidden;
    transform: translateZ(0) scale(1,1);
  }
}
.ldio-pgiplc4b9s div > div {
  position: absolute;
  width: 18.700000000000003px;
  height: 18.700000000000003px;
  border-radius: 50%;
  background: #ffa60f;
  animation: ldio-pgiplc4b9s 0.7633587786259541s linear infinite;
}.ldio-pgiplc4b9s div:nth-child(1) > div {
  left: 147.5px;
  top: 84.5px;
  animation-delay: -0.6785411365564037s;
}
.ldio-pgiplc4b9s > div:nth-child(1) {
  transform: rotate(0deg);
  transform-origin: 156.85000000000002px 93.85000000000001px;
}.ldio-pgiplc4b9s div:nth-child(2) > div {
  left: 132.5px;
  top: 125.5px;
  animation-delay: -0.5937234944868532s;
}
.ldio-pgiplc4b9s > div:nth-child(2) {
  transform: rotate(40deg);
  transform-origin: 141.85000000000002px 134.85000000000002px;
}.ldio-pgiplc4b9s div:nth-child(3) > div {
  left: 95.5px;
  top: 146.5px;
  animation-delay: -0.5089058524173028s;
}
.ldio-pgiplc4b9s > div:nth-child(3) {
  transform: rotate(80deg);
  transform-origin: 104.85000000000001px 155.85000000000002px;
}.ldio-pgiplc4b9s div:nth-child(4) > div {
  left: 52.5px;
  top: 139.5px;
  animation-delay: -0.4240882103477523s;
}
.ldio-pgiplc4b9s > div:nth-child(4) {
  transform: rotate(120deg);
  transform-origin: 61.85000000000001px 148.85000000000002px;
}.ldio-pgiplc4b9s div:nth-child(5) > div {
  left: 24.5px;
  top: 105.5px;
  animation-delay: -0.33927056827820185s;
}
.ldio-pgiplc4b9s > div:nth-child(5) {
  transform: rotate(160deg);
  transform-origin: 33.85000000000001px 114.85000000000001px;
}.ldio-pgiplc4b9s div:nth-child(6) > div {
  left: 24.5px;
  top: 62.5px;
  animation-delay: -0.2544529262086514s;
}
.ldio-pgiplc4b9s > div:nth-child(6) {
  transform: rotate(200deg);
  transform-origin: 33.85000000000001px 71.85000000000001px;
}.ldio-pgiplc4b9s div:nth-child(7) > div {
  left: 52.5px;
  top: 29.5px;
  animation-delay: -0.16963528413910092s;
}
.ldio-pgiplc4b9s > div:nth-child(7) {
  transform: rotate(240deg);
  transform-origin: 61.85000000000001px 38.85000000000001px;
}.ldio-pgiplc4b9s div:nth-child(8) > div {
  left: 95.5px;
  top: 21.5px;
  animation-delay: -0.08481764206955046s;
}
.ldio-pgiplc4b9s > div:nth-child(8) {
  transform: rotate(280deg);
  transform-origin: 104.85000000000001px 30.85000000000001px;
}.ldio-pgiplc4b9s div:nth-child(9) > div {
  left: 132.5px;
  top: 43.5px;
  animation-delay: 0s;
}
.ldio-pgiplc4b9s > div:nth-child(9) {
  transform: rotate(320deg);
  transform-origin: 141.85000000000002px 52.85000000000001px;
}
.loadingio-spinner-spin-jqils4ok248 {
  background: #f1f2f3;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}
.ldio-pgiplc4b9s {
  width: 180px;
  height: 200px;
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0; /* see note above */
}
.ldio-pgiplc4b9s div { box-sizing: content-box; }